body {
    background: #F1F4F4;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Fjalla One', sans-serif;
    color: #8F9498;
}

.top-bar {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 12px;
    padding: 10px 0; 
    background: #121D29;
    color: #677482;
    font-size: 10px; 
}

.top-bar a {
    text-decoration: none;
    color: #677482;
    text-transform: uppercase;
}

.top-bar a:hover {
    color: #ccc;
}

.top-bar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right;
}

.top-bar li {
    display: inline;
    margin-right: 5px;
}

.title a img {
    text-decoration: none;
}

.nav { 
    margin-top: 20px;
    margin-bottom: 20px; 
}

.nav a {
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #677482;
    padding: 10px;
}

.nav ul {
    list-style: none;
    padding: 0px;
    margin-top: 45px;
    margin-left: 20px;
    float: right;
}

.nav li {
    display: inline;
    padding: 10px;
    border-radius: 10px;
    background: #121e29;   
}

.nav li:hover {
    background-color: #ffa903;
}

.nav a:hover {
    background-color: #ffa903;
}

.nav a:link {
    background-color: #121e29;;

}
.title { 
    margin-top: 10px;
}

.grid--inner h2 {
    font-size: 56px;
    color: #121e29;
    text-transform: uppercase;
}

.grid--inner a {
    padding: 10px;
    border-radius: 10px;
    background: #203447;
    color: #fffefa;
    text-decoration: none;
    text-transform: uppercase;
}

.footer {
    background: #101a21;
    margin-top: 50px;
    padding-bottom: 20px; 
}

.footer a {
    text-decoration: none;
    color: #e2e8ee;
}

.footer a:hover {
    color: #fffefa;
}

.footer ul {
    list-style: none;
    margin-left: 0px;
    position: left;
}

.date {
    display: block;
    float: left;
    padding: 10px 18px 8px;
    margin: 0 15px 30px 0;
    border-radius: 10px;
    font-family: 'Fjalla One' sans-serif;
    text-align: center;
    line-height: 1;
}

.footer .button {
    padding: 10px;
    border-radius: 10px;
    background: #203447;
    color: #fffefa;
    text-decoration: none;
    text-transform: uppercase;
}

.news {
    display: inline;
}

.day {
    font-size: 32px;
}

.month {
    display: block;
}
.news .date--one {
    background: #bd8342;
}

.news .date--two {
    background: #ba6143;
}

.news .date--three {
    background: #ba435b;
}
.bottom {
    width: 100%;
    height: 10px;
    padding: 10px 0; 
    background: #121D29;
    color: #677482;
    top: 0px; left: 0px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 10px; 
}

.bottom a {
    text-decoration: none;
    color: #677482;
}
